body {
    background-color: #A7A7A7;
}
.navbar-brand {
    color: black;
}
.navbar {
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    border-bottom: solid black 1px;
}
.navbar small { 
    color: #2C2C2C;
}
.nav-item {
    list-style-type: none;
}
.socialButtons img{
    height: 40px;
    margin: 40px 15px 20px 5px;
}
.socialButtonsHover img{
    height: 50px;
    margin: 30px 10px 20px 0px;
}
.skills {
    background-color: white;
    margin-top: 15px;
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 40px;
}
.photograph {
    border: 10px solid white;
}
.GitRepos {
    background-color: white;
    display: flex;
    min-height: 500px;
    margin-bottom: 40px;
    padding-top: 10px;
}
.repos {
    list-style-type: none;
    font-size: 120%;
    font-family: 'Noto Sans', sans-serif;
}
.repos a {
    color: black;
    text-decoration: underline;
}
.footer {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-top: solid black 1px;
}
.glyphicon {
    margin: 5px
}
.gitHead {
    margin-left 15px;
}